<div class="border border-secondary border-1">
    <app-reader-header></app-reader-header>
    <div class="container">  
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div class="border mb-3">
                    <div class="text-center">
                        <label class="text-center">Search Books</label>
                    </div>
                </div>
            </div>
        </div>
            <div class="row justify-content-center">
            <!--Title-->
          
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1"></div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1 textmb">
                <div class="form-control form-control-sm">
                    <label>Title</label>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4">
                <div class="form-group">
                    <input class="form-control form-control-sm" id="txtReaderTitle" type="text">
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1"></div>
           <span class="mb-3"></span>
            
    
             <!--Author-->
             <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1"></div>
             <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1 textmb">
                 <div class="form-control form-control-sm">
                     <label>Author</label>
                 </div>
             </div>
             <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4">
                 <div class="form-group">
                     <input class="form-control form-control-sm" id="txtReaderAuthor" type="text">
                 </div>
             </div>
             <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1"></div>
             <span class="mb-3"></span>
    
              <!--Publisher-->
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1"></div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1 textmb">
                  <div class="form-control form-control-sm">
                      <label>Publisher</label>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4">
                  <div class="form-group">
                      <input class="form-control form-control-sm" id="txtReaderPublisher" type="text">
                  </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1"></div>
              <span class="mb-3"></span>
    
               <!--Release Date-->
               <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1"></div>
               <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1 textmb">
                   <div class="form-control form-control-sm">
                       <label>Release Date</label>
                   </div>
               </div>
               <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4">
                   <div class="form-group">
                       <input class="form-control form-control-sm" id="txtReleaseDate" type="text">
                   </div>
               </div>
               <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1"></div>
               <span class="mb-3"></span>
    
              
               <!--Save btn-->
               <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1"></div>
               <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1">
                  
               </div>
               <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4">
                  
               </div>
               <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1">
                   <button type="button" class="btn btn-secondary">Search</button>
               </div>         
        </div>
    </div>
</div>

