.imgheightwidth{
    height: 40px;
    width: 40px;
    margin-left: 25px;
}
@media only screen and (min-device-width: 769px) and (max-device-width: 2560px) {
    .p-header{
      
        padding-left: 160px;
        padding-right: 160px;
       
    }
  }