<div class="">
    <div class="p-header pb-3">   
        <div class="form-control form-control-sm">
            <div class="row justify-content-center">        
                <div class="col-xl-6 col-lg-6 col-md-2 col-sm-1"> 
                        <img class="imgheightwidth" src="../assets/digital_books_logo.png" alt="Digital Books">
                    
                </div>
                <div class="col-xl-6 col-lg-6 col-md-2 col-sm-1">
                    <!--<button type="button" class="btn btn-secondary btn-sm border">All My Books</button>
                    <button type="button" class="btn btn-secondary btn-sm border">Logout</button>-->
                    <div class="d-flex flex-row-reverse border-secondary">
                        <button class="bg-secondary btn-sm border-secondary">All My Books</button>
                        <button class="bg-secondary btn-sm border-secondary">Logout</button>
                      </div>
                </div>


                
                <div class="col-xl-12 col-lg-12 col-md-2 col-sm-1">
                        <label>Digital Books</label>
                </div>
            </div>
        </div>
    </div>
   
    
</div>
