<p>header works!</p>

<div class="">
    <div class="p-header pb-3">   
        <div class="form-control form-control-sm">
            <div class="row justify-content-center">        
                <div class="col-xl-6 col-lg-6 col-md-2 col-sm-1"> 
                        <img class="imgheightwidth" src="../assets/digital_books_logo.png" alt="Digital Books">
                    
                </div>
                <div class="col-xl-6 col-lg-6 col-md-2 col-sm-1">
                    <!--<button type="button" class="btn btn-secondary btn-sm border">All My Books</button>
                    <button type="button" class="btn btn-secondary btn-sm border">Logout</button>-->
                    <div class="d-flex flex-row-reverse border-secondary">
                        <a class="bg-secondary btn-sm border-secondary" routerLink="reader/signup">Signup</a>
                        <a class="bg-secondary btn-sm border-secondary" routerLink="reader/login">Signin</a>
                      </div>
                </div>


                
                <div class="col-xl-12 col-lg-12 col-md-2 col-sm-1">
                        <label>Digital Books</label>
                </div>
            </div>
        </div>
    </div>
   
    
</div>

<div class="border border-secondary border-1">
   
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div class="border mb-3">
                    <div class="text-center">
                        <label class="text-center">Create Books</label>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row justify-content-center">
            <!--Title-->
          
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1"></div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1 textmb">
                <div class="form-control form-control-sm">
                    <label>Title</label>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4">
                <div class="form-group">
                    <input class="form-control form-control-sm" id="txtTitle" type="text">
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1"></div>
           <span class="mb-3"></span>
            
    
             <!--Category-->
             <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1"></div>
             <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1 textmb">
                 <div class="form-control form-control-sm">
                     <label>Category</label>
                 </div>
             </div>
             <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4">
                 <div class="form-group">
                     <input class="form-control form-control-sm" id="txtCategory" type="text">
                 </div>
             </div>
             <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1"></div>
             <span class="mb-3"></span>
    
              <!--Image-->
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1"></div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1 textmb">
                  <div class="form-control form-control-sm">
                      <label>Image</label>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4">
                  <div class="form-group">
                      <input class="form-control form-control-sm" id="txtImage" type="text">
                  </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1"></div>
              <span class="mb-3"></span>
    
               <!--Price-->
               <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1"></div>
               <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1 textmb">
                   <div class="form-control form-control-sm">
                       <label>Price</label>
                   </div>
               </div>
               <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4">
                   <div class="form-group">
                       <input class="form-control form-control-sm" id="txtPrice" type="text">
                   </div>
               </div>
               <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1"></div>
               <span class="mb-3"></span>
    
                <!--Publisher-->
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1"></div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1">
                  <div class="form-control form-control-sm">
                      <label>Publisher</label>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4">
                  <div class="form-group">
                      <input class="form-control form-control-sm" id="txtPublisher" type="text">
                  </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1"></div>
              <span class="mb-3"></span>
    
               <!--Active-->
               <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1"></div>
               <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1">
                   <div class="form-control form-control-sm">
                       <label>Active</label>
                   </div>
               </div>
               <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4">
                   <div class="form-group">
                       <input class="form-control form-control-sm" id="txtActive" type="text">
                   </div>
               </div>
               <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1"></div>
               <span class="mb-3"></span>
    
                <!--Content-->
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1"></div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1">
                  <div class="form-control form-control-sm">
                      <label>Content</label>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4">
                  <div class="form-group">
                      <textarea class="form-control form-control-sm" style="resize: none;"  id="txtareaContent"></textarea>
                  </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1"></div>
              <span class="mb-1"></span>
    
              
               <!--Save btn-->
               <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1"></div>
               <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1">
                  
               </div>
               <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4">
                  
               </div>
               <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1">
                   <button type="button" class="btn btn-secondary">Save</button>
               </div>         
        </div>
    </div>
</div>





<ul>
    <li><a routerLink="reader/login">login</a></li>
    <li><a routerLink="reader/signup">signup</a></li>
  </ul>
  <router-outlet></router-outlet>
