

    <div class="container">
        <div class="row">
          <div class="col-lg-4 col-xl-4 col-md-2 col-sm-1">
      
          </div>
          <div class="col-lg-4 col-xl-4 col-md-2 col-sm-1">
            <div class="card bg-light">  
              <h4 class="card-title mt-3 text-center">Search Book</h4>
       
                <!--<div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                  </div>
                  <input name="" class="form-control" placeholder="Full name" type="text">
                </div> --><!-- form-group// -->
                <article class="card-body mx-auto" style="max-width: 400px;">
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i style="width: 75px;">Title</i> </span>
                  </div>
                  <input  [(ngModel)]="ReaderModel.title"  class="form-control" placeholder="Enter Title" type="text">
                </div>  <!-- form-group end.// -->
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i style="width: 75px;">Author</i> </span>
                  </div>
                  <input class="form-control"  [(ngModel)]="ReaderModel.author" placeholder="Enter Author" type="text">
                </div><!-- form-group// -->
                  <div class="form-group input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> <i style="width: 75px;">Publisher</i> </span>
                    </div>
                    <input  [(ngModel)]="ReaderModel.publisher"  class="form-control" placeholder="Enter Publisher" type="text">
                  </div>
                  <div class="form-group input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> <i style="width: 75px;">ReleaseDate</i> </span>
                    </div>
                    <input class="form-control"  [(ngModel)]="ReaderModel.releasedate" placeholder="Enter ReleaseDate" type="text">
                  </div> <!-- form-group// -->                  
                <div class="form-group">
                    <button type="button" class="btn btn-secondary" (click)="GetDataFromServer()">Search</button>
                </div> <!-- form-group// -->
            </article>
           
          </div>
      
          </div>
          <div class="col-lg-4 col-xl-4 col-md-2 col-sm-1">
      
        </div>
        </div>
        
      
      </div>

<h2>Books List</h2>

<app-grid-ui  [grid-columns]="[{'colName':'id'},{'colName':'title'},{'colName':'author'},{'colName':'publisher'},{'colName':'releasedate'}]"
[grid-data]="ReaderModels"  (grid-selected)="EditCustomer($event)" (grid-deleted)="DeleteCustomer($event)"
></app-grid-ui>


<router-outlet></router-outlet>