  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-6 col-md-1 col-sm-1">
  
      </div>
      <div class="col-lg-6 col-xl-6 col-md-1 col-sm-1">
        <div class="card bg-light">  
          <h4 class="card-title mt-3 text-center">Signin Account</h4>
   
            <!--<div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
              </div>
              <input name="" class="form-control" placeholder="Full name" type="text">
            </div> --><!-- form-group// -->
            <article class="card-body mx-auto" style="max-width: 400px;">
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
              </div>
              <input  [(ngModel)]="UserModel.Username" class="form-control" placeholder="Enter Email" type="email">
            </div>  <!-- form-group end.// -->
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
              </div>
              <input class="form-control"  [(ngModel)]="UserModel.Password" placeholder="Enter password" type="password">
            </div> <!-- form-group// -->
            <div class="form-group">
              <button type="button" class="btn btn-primary" (click)="loginUser()">Login</button>
              <button type="button" class="btn btn-primary" (click)="redirecttoregisterUser()">Register</button>
            </div> <!-- form-group// -->
        </article>
       
      </div>
  
      </div>
    </div>
    
  
  </div>
